@{
    ViewBag.Title = "Home Page";
}

@*<div class="container text-center">
        <h3>Why do you love???</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/AddHome/tumblr_oc52fu0jba1rx9kywo1_540.gif" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-4">
                <img src="~/AddHome/t%e1%ba%a3i%20xu%e1%bb%91ng.gif" class="img-responsive" style="width:100%" alt="Image" />
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <p>Love Her..</p>
                </div>
                <div class="well">
                    <p>Alway Here..</p>
                </div>
            </div>
        </div>
    </div><br>*@

<div class="jumbotron">
    <iframe src="http://free.timeanddate.com/clock/i5dsw47s/n95/tlvn/fn7/fs22/tceee/pceee/ahr/avt/ftb/pd2/tt0/tw0/tm1/ta1/tb4" frameborder="0" width="154" height="62" align="right"></iframe>
    <img src="~/AddHome/Cp1dWtJWcAE5dkV.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150" />
    <h1>TAEYEON</h1>
    <p class="lead">My Idol - My Angel.</p>
    <p><a href="https://kimtaeyeonvietnam.wordpress.com/" class="btn btn-primary btn-large">Welcome &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Image</h2>
        <p>
            Many many beautiful image! <br />
            <img src="~/AddHome/tumblr_oc52fu0jba1rx9kywo1_540.gif" height="150" width="324" />
        </p>
        <p><a class="btn btn-default" href="https://www.google.com.vn/search?q=taeyeon&espv=2&biw=1366&bih=648&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjoq9nRo6DPAhVIpI8KHfgwCPcQ_AUIBigB">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Music</h2>
        <p>
            Wonderfull music mp3 <br />
            <img src="http://i0.wp.com/kpoply.com/wp-content/uploads/2016/09/TAEYEON-All-With-You-Lyrics.jpg?resize=752%2C440" height="150" width="300" /><br />
            <audio controls autoplay>
                <source src="~/AddHome/01.%20All%20With%20You.mp3" type="audio/mpeg" />
            </audio>
        </p>
        <p><a class="btn btn-default" href="http://mp3.zing.vn/nghe-si/TAEYEON">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video</h2>
        <p>
            You can easily find many excellent video.<br />
            <iframe width=" 300" height="169" src="https://www.youtube.com/embed/Ri6wvGjuoOg" frameborder="0"></iframe>
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/results?search_query=Taeyeon">See more &raquo;</a></p>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="~/AddHome/pic2.jpg" />
            <p><strong>Why</strong></p>
            <p>Fri. 27 July 2016</p>
            <button class="btn">Buy Tickets</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="~/AddHome/Taeyeon_2nd_mini_album__Why__BOOKLET__GGPM_-Scan_preview00_v1_.jpg" />
            <p><strong>Why</strong></p>
            <p>Sat. 28 July 2016</p>
            <button class="btn">Buy Tickets</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="~/AddHome/WHY_%eb%b0%b0%ea%b2%bd10.png" />
            <p><strong>Why</strong></p>
            <p>Sun. 29 July 2016</p>
            <button class="btn">Buy Tickets</button>
        </div>
    </div>
</div>